.nav_item_wrap {
  letter-spacing: 1px !important;
}

.downloadsLi::before {
  content: none !important;
}

.downloadsLi {
  margin-bottom: 0.547em;
}

.nf-field-element ul li::before {
  content: none !important;
}

.bx--btn--sm {
  letter-spacing: 0;
  height: 2rem;
  padding: 0 0.5rem;
}

.bx--btn--primary {
  background-color: #3d70b2;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  color: #fff;
}

.bx--btn {
  font-family: "ibm-plex-sans", Helvetica Neue, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0;
  cursor: pointer;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  font-size: 0.875rem;
  font-weight: 600;
  height: 2.5rem;
  padding: 0 1rem;
  border-radius: 0;
  text-align: center;
  text-decoration: none;
  transition-duration: 250ms;
  transition-timing-function: ease-in;
  white-space: nowrap;
  line-height: 16px;
}

button, input[type='button'], input[type='submit'], input[type='reset'], input[type='file'] {
  border-radius: 0;
}

#contact ul li, #contact ul li a {
  color: #fff !important;
  text-decoration: none !important;
  list-style: none !important;
}

#contact hr {
  background-color: #fff;
}

textarea {
  font-family: "ibm-plex-sans", Helvetica Neue, Arial, sans-serif;
  font-size: 0.875rem;
  width: 100%;
  min-width: 10rem;
  padding: 1rem;
  color: #152935;
  background-color: #f4f7fb;
  border: none;
  box-shadow: 0 1px 0 0 #5a6872;
  -ms-flex-order: 2;
  order: 2;
  resize: vertical;
  border-bottom: 1px solid transparent;
}

input[type="text"] {
  font-family: "ibm-plex-sans", Helvetica Neue, Arial, sans-serif;
  font-size: 0.875rem;
  display: block;
  width: 100%;
  height: 2.5rem;
  min-width: 18.75rem;
  padding: 0 1rem;
  color: #152935;
  background-color: #f4f7fb;
  border: none;
  box-shadow: 0 1px 0 0 #5a6872;
  -ms-flex-order: 2;
  order: 2;
  border-bottom: 1px solid transparent;
}

input[type="tel"] {
  font-family: "ibm-plex-sans", Helvetica Neue, Arial, sans-serif;
  font-size: 0.875rem;
  display: block;
  width: 100%;
  height: 2.5rem;
  min-width: 18.75rem;
  padding: 0 1rem;
  color: #152935;
  background-color: #f4f7fb;
  border: none;
  box-shadow: 0 1px 0 0 #5a6872;
  -ms-flex-order: 2;
  order: 2;
  border-bottom: 1px solid transparent;
}

input[type="email"] {
  font-family: "ibm-plex-sans", Helvetica Neue, Arial, sans-serif;
  font-size: 0.875rem;
  display: block;
  width: 100%;
  height: 2.5rem;
  min-width: 18.75rem;
  padding: 0 1rem;
  color: #152935;
  background-color: #f4f7fb;
  border: none;
  box-shadow: 0 1px 0 0 #5a6872;
  -ms-flex-order: 2;
  order: 2;
  border-bottom: 1px solid transparent;
}

input[type="submit"] {
  background-color: #3d70b2;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  color: #fff !important;
}

p {
  font-size: 1.2em !important;
  line-height: 1.5em !important;
}

.contentList ol li {
  font-size: 1.2em !important;
  line-height: 1.5em !important;
}

h3 {
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0 0 1em 0;
  padding: 0;
}

hr {
  margin: 3em 0;
  width: 70px;
  height: 5px;
  background-color: #5a6872;
  padding: 0;
}

/*
.header_mid .logo_wrap .title {
  font-size: 4em;
} */
.headline {
  display: none !important;
}

.pageHeader {
  height: 60vh;
  background-color: #8897a2;
}

.pageContent {
  padding-right: 20%;
  padding-bottom: 0;
}

@media screen and (max-width:768px) {
  hr {
    width: 50%;
  }

  .pageContent {
    padding-right: 5%;
  }

  .header_mid .logo_wrap .title {
    font-size: 2.5em;
  }
}

@media screen and (max-width:414px) {
  hr {
    width: 100%;
  }

  .pageContent {
    padding: 15px;
  }

  .header_mid .logo_wrap .title {
    font-size: 2em;
  }

  #contactInfo .vc_column-inner {
    padding: 0 !important;
  }

  #contactForm .vc_column-inner, .vc_custom_1540262176046 {
    padding: 0 !important;
    padding-left: 0 !important;
  }
}

::selection {
  background-color: #5a6872 !important;
}

.nf-fu-progress {
  background-color: transparent !important;
  box-shadow: none !important;
  height: 10px !important;
  margin-bottom: 0 !important;
}

.files_uploaded p {
  padding: 0 !important;
}

#nf-field-8-container {
  margin-bottom: 0 !important;
}

/* styling for show more buttons */
.ult_expheader {
  font-size: 12px !important;
  text-align: center !important;
  line-height: 2.5em !important;
  text-transform: uppercase !important;
}

.ult_exp_section {
  padding: 0 1rem !important;
}

.nf-before-form-content {
  margin-bottom: 10px !important;
}

#nf-label-field-14 {
  display: none !important;
}

#nf-field-4-container {
  margin-bottom: 0 !important;
}

.header_mid .logo_wrap .title {
  font-size: 2em !important;
  line-height: 2.04em !important;
}

.title_text {
  font-size: 1.5em !important;
  line-height: 1.53em !important;
}

.header_bot_inner {
  padding-left: 10px !important;
}

.footer_copyright, .copyright, .footer_custom_html , .footer_custom_html a {
  font-size: 1em !important;
  line-height: 1.25em !important;
  color:#cdd1d4 !important;
}
